<br><br>
<div id="reading">
  <p>How to understand your reading</p>
  <br>
  <div class="well">
    <%= image_tag("flower.png", :alt => "flower", :id => "filigree_image") %>
  </div>
  <p>Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non mauris vitae erat consequat auctor eu in elit. Clatss aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris in erat justo. Nullam ac urna eu felis dapibus condimentum sit amet a</p>
</div>

<div id="btn">
  <a onclick="$('#reading-cards, #refresh-cards').toggle();">Show me my Reading</a>
</div>

<div id="reading-cards" style="display:none;">
  <%= render "cards/three" %>
</div>
<br><br><br><br><br><br>
<div id="btn">
  <div id="refresh-cards" style="display:none;">
    <%= link_to 'New Reading', readings_path %>
  </div>
</div>
<br><br><br>
