<p>minor works</p>

<h1> Minor Cards </h1>
<h4>Google</h4>
<h4>Amazon</h4>
<% @amazon_minor.each do |card| %>
    <%= link_to card.card_name, card_path(card) %>
    <%= image_tag(card.image.url(:thumb)) %>
<% end %>
<h4>Microsoft</h4>
<% @microsoft_minor.each do |card| %>
    <%= link_to card.card_name, card_path(card) %>
    <%= image_tag(card.image.url(:thumb)) %>
<% end %>
<h4>Oracle</h4>
