<h6>three card reading</h6>

<div class="section">
     <div class="cards-grid">
       <div class="row">
         <% @cards.each do |card| %>
         <div class="col s4 l4 m4 cards-holder">
           <div class="card hoverable">
             <div class="card-image materialboxed" width="50">
               <p><%= card.card_name %></p>
               <p><%= image_tag card.image.url(:medium) %></p>
             </div>
             <div class="card-content mar-bottom">
               <%= card.card_content %>
             </div>
           </div>
         </div>
         <% end %>
       </div>
     </div>
 </div>
