<h1>Cards</h1>

<div class="row">
  <div class="col s6">
      <% @cards.each do |card| %>
         <%= link_to card.card_name, card_path(card) %>
      <% end %>
    </div>
  </div>



<%= link_to "New Card", new_card_path %>
