
<br><br>
<div class="row">
  <div class="col s12">
    <div id="cards-home">
    <% @cards.each do |card| %>
       <%= link_to image_tag(card.image.url(:thumb)), card_path(card) %>
    <% end %>
    </div>
  </div>
</div>

<div class="container">
  <div>
    <%= form_tag(search_page_path, :method => "get",
          class: 'navbar-form navbar-left') do %>
      <div class="input-group">
        <%= search_field_tag :search, params[:search], placeholder: "Search", class: "form-control" %>
        <div class="input-group-btn" id="btn">
          <%= button_tag "Card search", :class => 'btn',:name => nil%>
        </div>
      </div>
    <% end %>
  </div>
</div>
<br><br><br><br>
