<br><br><br><br>

<div class="row">
  <div class="col s4" id="show-img">
    <h6><%= image_tag @card.image.url(:large) %></h6>
  </div>
  <div class="col s8">
    <h1><%= @card.card_name %></h1>
    <h6><%= @card.card_content %></h6>
  </div>
</div>
