/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "materialize";

$error-color: color("red", "base") !default;

html, body {
  background: black;
  color: #AA8C2C;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: right;
    padding-right: 20px;
}

nav {
  margin-top: 50px;
  padding-top: 50px;
  height: 200px;
  text-shadow: white 2px 2px 2px;
  background-color: white;
  padding-left: 70px;
  padding-right: 70px;
}

nav ul li a {
  color: #AA8C2C;
}

html, body a {
  color: #AA8C2C;
}

html, body a:hover {
  color: #AA8C2C;
}

#logo-center {
  font-family: 'VT323', monospace;
  color: #AA8C2C;
  font-size: 100px;
}

#cards-home {
  align-items: center;
  text-align: center;
  position: relative;
}

#show-img {
  padding-left: 50px;
}

#btn {
  text-align: center;
}

//readings
.card {
  background-color: black;
  text-align: center;
  height: 150px;
  width: 135px;
}

#reading-cards {
  padding-left: 40px;
}

#reading {
  text-align: center;
}


//minor-cards

#minor-cards {
  text-align: center;
}

//major-cards

#major-cards {
  text-align: center;
}

//Nasa

#nasa_image {
  height: 250px;
  width: 250px;
}

#one-a-day {
  text-align: center;
}
