/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "materialize";

$error-color: color("red", "base") !default;

html, body {
  font-family: 'Old Standard TT', serif;
  background: black;
  color: #AA8C2C;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: #AA8C2C;
    text-align: right;
    padding-right: 20px;
  }

nav {
  margin-top: 50px;
  padding-top: 50px;
  height: 200px;
  text-shadow: black 3px 3px 3px;
  padding-left: 70px;
  padding-right: 70px;
  font-family: 'Kavivanar', cursive;
  background-image: url("https://images.unsplash.com/photo-1520285793272-209a2fb209ba?ixlib=rb-0.3.5&s=42b1c7004391ba74eab8d11250a26db6&auto=format&fit=crop&w=800&q=60");
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-bottom: 30px;
}

#sign-in {
  padding-top: 70px;
  padding-right: 23%;
}

nav ul li a {
  color: #AA8C2C;
}

html, body a {
  color: #AA8C2C;
}

html, body a:hover {
  color: #AA8C2C;
}

#logo-center {
  font-size: 100px;
}

#cards-home {
  align-items: center;
  text-align: center;
  position: relative;
}

#show-img {
  padding-left: 50px;
}

#btn {
  text-align: center;
}

.btn {
  text-align: center;
  background-color: #AA8C2C;
}

.btn:hover {
  background-color: black;
}

//readings
.card {
  background-color: black;
  text-align: center;
  height: 150px;
  width: 135px;
}

#reading-cards {
  padding-left: 40px;
}

#reading {
  text-align: center;
}


//minor-cards

#minor-cards {
  text-align: center;
}

//major-cards

#major-cards {
  text-align: center;
}

#tower_image {
  height: 350px;
  width: 200px;
}

//Nasa

#nasa_image {
  height: 250px;
  width: 250px;
}

#one-a-day {
  text-align: center;
}

.well {
  text-align: center;
}

.style_image {
  height: 350px;
  width: 100%;
}

#filigree_image {
  height: 150px;
  width: 100%;
}

#geo_card {
  height: 250px;
  width: 300px;
}

#gif {
  height: 500px;
  width: 100%;
}

#deck_show, #search_bar, #ornament_pic, #nasa_info, #card_info {
  display: none;
}

#enter_btn {
  text-align: center;
}
